@media (max-width: 1199.5px){
	.banner-content {
    margin-top: 28%;
}
.about-content h2 {
    font-size: 45px;
    
}
.about-content span {
    font-size: 85px;
	}
.about-content p {   
    padding: 0px;
}
.heading span {
    font-size: 75px;
}
.heading h1 {
    font-size: 50px;
    padding-bottom: 32px;
}
.resume-section .row h3 {
    margin-bottom: 40px;
    margin-top: 40px;
}


.Works-section ul li a {
    font-size: 16px;
    padding: 5px 15px;
}
.Works-section .no-gutters div {
    padding: 8px;
}
.feedback-section .row {
    padding: 20px 0;
}
.feedback-section .row h1 {
    font-size: 30px;
}
.feedback-section .row h2 {
    font-size: 30px;
}
.feedback-section .row button {
    font-size: 16px;
}


.brand-icon .row a ul li i {
    font-size: 40px;
}
.brand-icon .row a ul li {
    font-size: 18px;
    padding: 5px 10px;
    line-height: 40px;
    }
  .brand-icon .row a ul {
    padding: 10px 30px;
    border-bottom-right-radius: 30px;
}


@media (max-width: 991.5px){
.navbar-brand {
     margin-left: 0px;
}
.navbar-nav li {
 padding-top: 10px; 
}
.banner-content {
    margin-top: 22%;
}
.banner-content h1 {
    font-size: 40px;
}
.banner-content span {
    font-size: 40px;
}
.banner-content p {
    width: 70%;
    padding: 20px 0;
    font-size: 16px;
}
.banner-content ul li .cv {
    font-size: 15px;
}
.banner-content ul li .portfolio {
    font-size: 15px;
}

.about-section {
    padding: 50px 0;
}
.about-content h2 {
    font-size: 40px;
    padding-bottom: 22px;
}
.about-content span {
    font-size: 65px;
	}
.about-content p {   
    padding: 0px;
    font-size: 15px;
    width: 100%;
}
.about-img {
    margin-top: 60px;
}



.heading h1 {    
    font-size: 40px;    
    padding-bottom: 15px;
}
.heading span {
    font-size: 50px;
}
.skills-section .row h2 {    
    font-size: 20px;
    padding: 35px 0 10px 0;
}
.skill-hvr ul li {
    font-size: 12px;
}




.resume-box {
    position: relative;
    padding-left: 20px;
    padding-bottom: 25px;
}
.resume-box:hover .resume{
    background-image: none;
    background-repeat: none;
    padding: 10px;
    box-shadow: 0 1px 1px 0px #40afccba;
}
.resume-box .resume{
    transition: 0.5s;
    padding: 10px 0;
    
}
.resume-box .resume p{
    font-size: 13px;
    padding-top: 10px;
    max-width: 300px;    
}
.resume-box .resume span {
    font-size: 14px;
}
.resume-box .resume h4 {
    margin-top: 16px;
    font-size: 16px;
}
.resume-box .resume h5 {
    font-size: 14px;
}
.resume-section .row h3 {
    margin-bottom: 40px;
    margin-top: 30px;
}



.Works-section ul li a {
    font-size: 14px;
    padding: 4px 12px;
}
.Works-section .no-gutters div {
    padding: 5px;
}



.feedback-section .row {
    padding: 15px 0;
}
.feedback-section .row h1 {
    font-size: 25px;
}
.feedback-section .row h2 {
    font-size: 25px;
}
.feedback-section .row button {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 50px;
    box-shadow: 1px 1px 3px #1c6d82;
}
.modal-dialog {
    max-width: 400px;
    margin: 0.75rem auto;
}


.getInTouch .form-group input {
    font-size: 12px;
}
.getInTouch .form-group textarea {
    font-size: 14px;
}
::placeholder{
    font-size: 12px !important;
    font-weight: 300 !important;
}
.btn-form {
    font-size: 14px !important;
    padding: 6px 18px !important;
}
.getInTouch .map-size {
    height: 233px;
}
.brand-icon .row a ul li i {
    font-size: 30px;
}
.brand-icon .row a ul li {
    font-size: 15px;
    padding: 2px 4px;
    line-height: 30px;
    }
  .brand-icon .row a ul {
    padding: 10px 30px;
    border-bottom-right-radius: 30px;
}






@media (max-width: 767.5px){
.banner-section {
    min-height: 90vh;
}
.navbar-brand img{
		max-width: 80%;
	}
    .navbar-nav li{
    	position: relative;
    	padding: 10px 0;
    	margin-left: 0px;
    }
    .navbar{
        text-align: right;
        }
        .navbar-collapse {
         background-color: #20a8ccd9;
         margin-right:20px;
         margin-left: 30px;
}
	.navbar-toggler {
    font-size: 15px;
    margin-right: 20px;
    margin-top: 10px;
}

.navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 0;
}
.navbar-nav li:hover{
    background: #205766;
    
}
.navbar-nav li:hover::after {
     width: 0%; 
}
 .banner-content {
    margin-top: 23%;
}
.banner-content h1 {
    font-size: 30px;
    
}
.banner-content span {
    font-size: 30px;
    
}
.banner-content p {
    
    font-size: 13px;
    width: 70%;
    padding: 12px 0;
    
    }
.banner-content ul li a .cv{
    
    font-size: 13px;    
}
.banner-content ul li a .portfolio{
    
    font-size: 13px;    
}

.about-section {
    padding: 50px 0px;
    
}
.about-content h2 {
    font-size: 30px;
    padding-bottom: 22px;
}
.about-content span {
    font-size: 55px;
	}
.about-content p {   
    padding: 0px;
    font-size: 13px;
    width: 100%;
}
.about-img {
    margin-top: 100px;
}

.heading h1 {    
    font-size: 35px;    
    padding-bottom: 10px;
}
.heading span {
    font-size: 40px;
}
.skills-section .row h2 {    
    font-size: 20px;    
}
.skill-hvr {
    margin-bottom: 20px;
}


.resume-box:hover .resume{
    background-image: none;
    background-repeat: none;
    padding: 10px;
    box-shadow: none;
    
}

.resume-box .resume p{
    font-size: 13px;
    padding-top: 10px;
    max-width: 300px;    
}
.resume-box .resume span {
    font-size: 13px;
}
.resume-box .resume h4 {
    margin-top: 16px;
    font-size: 15px;
}
.resume-box .resume h5 {
    font-size: 14px;
}

.Works-section ul li a {
    font-size: 13px;
    padding: 4px 10px;
}
.Works-section .no-gutters div {
    padding: 2px;
}


.feedback-section .row {
    padding: 15px 0;
}
.feedback-section .row h1 {
    font-size: 18px;
    margin-left: 20px;
}
.feedback-section .row h2 {
    font-size: 18px;
    margin-left: 20px;
}
.resume-section .row h3 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.feedback-section .row button {
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 3px #1c6d82;
}

.modal-dialog {
    max-width: 308px;
    margin: 0.75rem auto;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem .75rem;
    font-size: 14px;
    }
    .btn-custom {
    font-size: 14px;
}


.getInTouch .form-group input {
    font-size: 10px;
}
.getInTouch .form-group textarea {
    font-size: 10px;
}
::placeholder{
    font-size: 12px !important;
    font-weight: 300 !important;
}
.btn-form {
    font-size: 12px !important;
    padding: 3px 12px !important;
}
.getInTouch .map-size {
    height: 181px;
}
.form-group {
    margin-bottom: 10px;
}

.brand-icon .row {
    padding: 0 20px;
}
.brand-icon .row a ul li i {
    font-size: 20px;
}
.brand-icon .row a ul li {
    font-size: 14px;
    padding: 2px 4px;
    line-height: 20px;
    }
  .brand-icon .row a ul {
    padding: 15px 15px;
    border-bottom-right-radius: 25px;
}



@media (max-width: 575.5px){
	.navbar-brand img{
		max-width: 80%;
	}
	.navbar-toggler {
    font-size: 1rem;
    margin-right: 30px;
}
.navbar-collapse {
        margin: 0 30px;
}
.social-icon{
	display: none;
}
 .banner-content {
    margin-top: 33%;
}
.banner-content h1 {
    font-size: 25px;
    
}
.banner-content span {
    font-size: 25px;
    
}
.banner-content p {
    
    font-size: 12px;
    width: 65%;
    padding: 12px 0;
    
    }
.banner-content ul li .cv {
    font-size: 10px;
}
.banner-content ul li .portfolio {
    font-size: 10px;
}


.about-section {
    padding: 30px 50px 30px 50px;
}
.about-img {
    margin-top: 0px;
    padding-bottom: 10px;

}

.skill-hvr {
    margin-bottom: 30px;
}
.heading h1 {    
    font-size: 25px;    
    padding-bottom: 10px;
}
.heading span {
    font-size: 30px;
}
.skills-section {
     padding-bottom: 0px; 
}
.skills-section .row h2 {    
    font-size: 14px;
    padding: 10px 0 5px 0;    
}
.resume-section{
	padding: 30px 50px 30px 50px;
}
.resume-section .row h3 {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.resume-box .resume p{
    max-width: 400px;    
}
.resume-box .resume h5{
    max-width: 400px;    
}

.getInTouch .in-box {
    padding: 0 40px;
    padding-top: 15px;
}

.Works-section ul li a {
    font-size: 12px;
    padding: 2px 6px;
}
.Works-section .no-gutters div {
    padding: 5px;
}
.feedback-section .row {
	justify-content: center;
	text-align: center;
    padding: 15px 0;
}
.feedback-section .row h1 {
    font-size: 18px;
    margin-left: 0;
}
.feedback-section .row h2 {
    font-size: 18px;
    margin-left: 0px;
}
.feedback-section .row button {
	margin-top: 10px;
}


.brand-icon .row {
    padding: 0 20px;
}
.brand-icon .row a ul li i {
    font-size: 16px;
}
.brand-icon .row a ul li {
    font-size: 14px;
    padding: 2px 4px;
    line-height: 16px;
    }
  .brand-icon .row a ul {
    padding: 15px 15px;
    border-bottom-right-radius: 25px;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;

    padding-right: 0px;
    padding-left: 5px;
}